* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --header-footer-height: 60px;
    --bg-color: var(--bg-color) #1d2631;
    --text-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}

html {
    height: 100%;
}

body {
    background-color: #1d2631;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    height: var(--header-footer-height);
}

main {
    flex: 1;
    padding: 20px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: var(--header-footer-height);
}

footer {
    height: var(--header-footer-height);
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main li img {
    width: 100px;
    height: auto;
    max-width: 100%;
    justify-content: space-between;
    border-radius: 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333333;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 28px;
    font-weight: bold;
}

.logo i {
    color: var(--main-color);
    font-size: 32px;
    margin-right: 10px;
    margin-left: 10px;
}

.navegacao {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.navegacao a {
    color: var(--other-color);
    font-size: 1rem;
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegacao a:hover {

    color: var(--main-color);
}

.header-icons {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
}

.header-icons i {
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
    color: var(--text-color);
}

.header-icons i:hover {
    transform: translate(-5px);
    color: var(--main-color);
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .navegacao {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .navegacao a {
        margin: 10px 0;
    }
}